
<div class="uk-panel uk-panel-box">

  <h3 class="uk-panel-title">Events</h3>
			{{ entries:listing folder="events" limit="10" show_future="true" show_past="false" group_by_date="Y" sort_dir="asc" }}
					{{ if no_results }}
						<p class="sorry">
							There are no events coming up. Stay tuned.
						</p>
					{{ else }}
						{{ if first }}
							<div class="big-calendar">
						{{ endif }}

						{{ if grouped_date }}
							<div class="divider"><span>{{ grouped_date }}</span></div>
						{{ endif }}

						<div class="event clearfix">
							<div class="date-blob">
								<strong>{{ datestamp format="M" }}</strong>
								<span>{{ datestamp format="j" }}</span>
							</div>
							<div class="event-description">
								<h3><a href="{{url}}">{{ title }} </a></h3>

							</div>
						</div>

						{{ if last }}
							</div>
						{{ endif }}
					{{ endif }}
				{{ /entries:listing }}

</div>
