            <div class="uk-grid hero" data-uk-grid-margin>
                <div class="uk-width-medium-1-1 uk-width-small-1 herospace">
                    <div class="uk-vertical-align uk-text-center" style="background: url('{{ home_hero_img }}') 100% 0 no-repeat; height: 550px;">
                        <div class="uk-vertical-align-middle uk-width-medium-1-2 uk-width-small-1">
                            <h1 class="uk-heading-large white-text">Breast Cancer</h1>
                            <h2 class="uk-heading-small white-text"> Awareness </h2>
                            <p class="uk-text-large white-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo.</p>
                            <p>
                                <a class="uk-button uk-button-primary uk-button-large" href="#">Donate Now</a>
                            </p>
                        </div> <!-- end of width1-2 -->
                    </div> <!-- end of uk-vertical-align -->

                </div> <!-- end of uk-width-medium-1 -->
            </div> <!-- end of hero -->
