

<div class="sub-head title uk-clearfix">
  <div class="uk-grid">
    <div class="uk-width-1-1">
      <div class="article uk-container uk-container-center">
        <nav class="breadcrumbs ">
            <ul class="uk-breadcrumb">

                {{ nav:breadcrumbs include_home="no" }}
                    {{ if is_current }}
                        <li>{{ title }}</li>
                    {{ else }}
                        <li><a class="uk-hidden-small-1" href="{{ url }}">{{ title }}</a></li>
                    {{ endif }}
                {{ /nav:breadcrumbs }}
            </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="uk-container page uk-clearfix  margintopsixty">
  <div class="uk-grid">
    <!-- {{ if main_img }} -->
    <div class="uk-hidden-small-1 uk-width-medium-2-3">

    <h1> {{ title }}</h1>
    <div class="mainimage">
      <img src="{{   main_img }}" />
    </div>

    <div class="main-content team-content">
      {{ content }}
      <div class="team-social">
        {{ if email }} <a href="mailto:{{ email }}">{{ email }}</a> {{ endif}} <br />
        <ul class="social-links">

      {{ if social }} <li>{{ social }}
          <a href="{{ link }}">{{ caption }}</a> {{/social }}
        </li> {{ endif}}
      </ul>
      </div>

    </div>

    <!-- {{ else }} -->
    <!-- <div class="uk-hidden-small-1 uk-width-medium-1-1">

      {{ if email }} <a href="mailto:{{ email }}">{{ email }}</a> {{ endif}} <br />
      {{ if social }} {{ social }} <a class="social-team-link" href="{{ link }}">{{ caption }}</a> {{/social }} {{ endif}}
      {{ content }}
    </div> -->

    <!-- {{ endif}} -->


        {{ if segment_1 == "" }}
        <section class="articles ">
        {{ theme:partial src="_article_listing" fold="{blog_name}" lim="5" tax="no" }}
        </section>
        {{ endif }}

  </div>
      <div class="uk-hidden-small-1 uk-width-medium-1-3 sidebar" role="complementary">
        {{ theme:partial src="_team-sidebar" }}
      </div>

      </div>
    </div>
